{% extends '_layout.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}



{% block title %}
    Trombinoscope Ambassadeur
{% endblock %}


{% block body %}
    <h1 class="text-center my-4">Trombinoscope</h1>

    <div class="container">
        <div class="row justify-content-center my-4">
            <form class=" form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher Un Ambassadeur</button>
            </form>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            {% for card in cards %}
                <div class="card my-4 mr-4 ml-auto" style="width: 18rem;">
                    <img class="card-img-top"
                         src="https://www.bmeia.gv.at/fileadmin/_processed_/c/b/csm_Linhart_2_59a15afc9d.jpg"
                         alt="Photo Ambassadeur">
                    <div class="card-body">
                        <h6 class="card-title">Nom : {{ card.nom }}</h6>
                        <h6 class="card-title">Prénom : {{ card.prenom }}</h6>
                        <p class="card-title">Entreprise : {{ card.entreprise }}</p>
                    </div>
                        <a href="#" class="btn btn-primary mt-2">Profil de {{ card.prenom }} {{ card.nom }}</a>
                </div>
            {% else %}
                'Aucun Ambassadeur trouvé'
            {% endfor %}
        </div>
    </div>

{% endblock %}
