{% extends '_layout.html.twig' %}

{% block title %}Loire&Orléans | Connexion{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('login') }}
 {% endblock %}
{% block body %}
    <section class="d-flex align-items-center mb-5">
        <div class="form w-100">
            <h1 class="my-4 text-center">Connexion</h1>
            <form method="post" class="col-12 d-flex flex-column align-items-center">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="col-10 col-md-8 d-flex flex-column p-4 align-items-center">
                    <div class="form-group col-md-8 col-11">
                        <label for="inputLogin">Identifiant (login)</label>
                        <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" required autofocus>
                    </div>
                    <div class="form-group col-md-8 col-11">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group d-flex flex-row justify-content-around align-items-center col-12">
                        <div class="checkbox ">
                            <label class="m-0">
                                <input type="checkbox" name="_remember_me"> Se souvenir de moi
                            </label>
                        </div >


                    </div>
                </div>

                <button class="btn btn-lg btn-primary mt-3" type="submit">
                    Connexion
                </button>
            </form>
            <div class="d-flex align-items-center my-4 flex-column">
                <a href="{{ path('app_register') }}">Créer un compte Ambassadeur</a>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
            </div>

        </div>

    </section>
{% endblock %}
