{% extends '_layoutAdmin.html.twig' %}
{% block title %} Loire&Orléans | Accueil Administrateur{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('login') }}
 {% endblock %}
{% block body %}
    <section class="d-flex align-items-center mb-5">
        <div class="container">
            <div class="row mt-4 mb-4 flex-column">
                <h1 class="my-4 text-center">Administration</h1>
                <h3 class="my-4 text-center">Les différentes parties administrables</h3>
            </div>

            <div class="row mb-4 justify-content-around mt-4">
                <div class="blur card m-4 col-md-5">
                    <div class="card-body">
                        <h5 class="text-center card-title">Profil utilisateur</h5>
                        <p class="text-center card-text">Votre profil</p>
                        <div class="text-center mt-2"><a
                                    href="{{ path('user_show', {login: app.user.login}) }}"
                                    class="btn btn-primary">Aller</a></div>
                    </div>
                </div>

                <div class="blur card m-4 col-md-5">
                    <div class="card-body">
                        <h5 class="text-center card-title">Gestion des profils</h5>
                        <p class="text-center card-text">Administrer les profils ambassadeurs</p>
                        <div class="text-center mt-2"><a href="{{ path('admin_profile_index') }}"
                                                         class="btn btn-primary">Aller</a></div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 mb-4 justify-content-around mt-4">
                <div class="blur card m-4 col-md-5">
                    <div class="card-body">
                        <h5 class="text-center card-title">Demandes d'informations</h5>
                        <p class="text-center card-text">Avoir accès aux différentes informations</p>
                        <div class="text-center mt-2"><a href="{{ path('admin_conversation_index') }}" class="btn align-content-center btn-primary">Aller</a>
                        </div>
                    </div>
                </div>
                <div class="blur card m-4 col-md-5">
                    <div class="card-body ">
                        <h5 class="text-center card-title">Gestions des documents</h5>
                        <p class="text-center card-text">Gérer les documents</p>
                        <div class="text-center mt-2"><a href="{{ path('document_index') }}"
                                                         class="btn align-content-center btn-primary">Aller</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
