{% extends '_layout.html.twig' %}

{% block title %}
    Loire&Orléans | Mon Profil Ambassadeur
{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('profil') }}
    {% endblock %}

{% block body %}
    <section class="d-flex align-items-center mb-5">
        <div class="d-flex align-items-center  flex-column my-5 col-12 p-0">
            {% if is_granted('ROLE_ADMINISTRATEUR') %}
                <h1 class="my-4 text-center"> Mon Profil Administrateur</h1>
            {% else %}
                <h1 class="my-4 text-center"> Mon Profil Ambassadeur</h1>
            {% endif %}
            <div class=" profil d-flex col-10 col-md-8 my-3 p-4 justify-content-around flex-column flex-lg-row align-items-center">
                <div class="col-lg-3 col-md-6 my-3">
                    <img src="{% if user.picture is empty %}{{ asset('build/img_profil_trombinoscope.png') }}{% else %}{{ vich_uploader_asset(user, 'pictureFile', 'App\\Entity\\User') }}{% endif %}" class="card-img" alt="Photo ambassadeur">
                </div>

                <div class="d-flex col-lg-8 flex-column flex-md-row justify-content-around align-items-start">
                    <div class="d-flex flex-column mx-md-3">
                        <h3>Général</h3>
                        <div>
                            <p>Nom : {{ user.lastName }}</p>
                            <p>Prénom : {{ user.firstname }}</p>
                            <p><i class="fas fa-phone-alt"></i> {{ user.phoneNumber }}</p>
                            <p><i class="fas fa-at"></i> {{ user.email }}</p>
                            <p><i class="far fa-map"></i> Description : {{ user.description }}</p>
                        </div>

                    </div>
                    <div class="d-flex flex-column">
                        <h3>Professionnel</h3>
                        <div >
                            <p>Entreprise : {{ user.company }}</p>
                            <p>Secteur d'activité : {{ user.activity }}</p>
                            <p>{{ user.street }}</p>
                            <p>Code postal : {{ user.postalCode }}</p>
                            <p><i class="fas fa-city"></i> {{ user.city }}</p></div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center my-4 justify-content-center w-100 flex-md-row flex-column">
                {% if is_granted('ROLE_ADMINISTRATEUR') %}
                     <a class="btn btn-lg btn-primary mx-3 col-lg-2 col-md-4 col-8 my-2" href="{{ path('admin_index') }}">Espace Administration</a>
                {% else %}
                    <a class="btn btn-lg btn-primary mx-3 col-lg-2 col-md-4 col-8 my-2" href="{{ path('user_index') }}">Retour Trombinoscope</a>
                {% endif %}
                {% if app.user is same as(user) %}
                    <a class="btn btn-lg btn-primary mx-3 col-lg-2 col-md-4 col-8 my-2" href="{{ path('user_edit',  {'login': user.login}) }}">Modifier</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/38fc56fe7a.js" crossorigin="anonymous"></script>
{% endblock %}
