{% extends '_layoutAdmin.html.twig' %}

{% block title %}Loire&Orléans | Administrateur | Demandes d'information{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('adminProfil') }}
 {% endblock %}
{% block body %}
    <section class="d-md-flex align-items-center mb-5">
        <div class="w-100 d-flex flex-column">
            <h1 class="my-4 text-center">Demandes d'informations</h1>
            <div class="d-flex justify-content-center flex-column my-4">
                <h3 class="my-4 text-center">Nouveaux messages</h3>
                <table class="table table-hover col-10 p-0 mx-auto">
                    <thead class="bg-primary">
                    <tr class="text-center text-light">
                        <th scope="col">Date</th>
                        <th scope="col">Document</th>
                        <th scope="col">Nom-Prénom-Entreprise</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for conversation in conversations %}
                        {% if conversation.messages|last.user.roles[0] is same as('ROLE_AMBASSADEUR') %}
                            <tr class="text-center">
                                <td>{{ conversation.messages|last.date|date("d/m/Y à H:i") }}</td>
                                <td>{{ conversation.document.name }}</td>
                                {% for user in conversation.users  %}
                                    {% if user.roles[0] is same as('ROLE_AMBASSADEUR') %}
                                        <td>{{ user.firstname ~ ' ' ~ user.lastName ~ ' / ' ~ user.company}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td><a class="btn btn-info" href="{{ path('admin_conversation_show', {'id': conversation.id}) }}">Consulter</a></td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                {% if  conversations is empty %}
                    <p class="text-center">'Pas de nouveaux messages'</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column justify-content-center my-4">
                <h3 class="my-4 text-center">Messages traités</h3>
                <table class="table table-hover col-10 p-0 mx-auto">
                    <thead class="bg-primary">
                    <tr class="text-center text-light">
                        <th scope="col">Date</th>
                        <th scope="col">Document</th>
                        <th scope="col">Nom-Prénom-Entreprise</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for conversation in conversations %}
                        {% if conversation.messages|last.user.roles[0] is same as('ROLE_ADMINISTRATEUR') %}
                            <tr class="text-center">
                                <td>{{ conversation.messages|last.date|date("d/m/Y à H:i") }}</td>
                                <td>{{ conversation.document.name }}</td>
                                {% for user in conversation.users  %}
                                    {% if user.roles[0] is same as('ROLE_AMBASSADEUR') %}
                                        <td>{{ user.firstname ~ ' ' ~ user.lastName ~ ' / ' ~ user.company}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td><a class="btn btn-info" href="{{ path('admin_conversation_show', {'id': conversation.id}) }}">Consulter</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex align-items-center my-4 flex-column">
                <a class="btn btn-lg btn-primary mt-3" href="{{ path('admin_index') }}">Retour Gestion</a>
            </div>
        </div>

    </section>
{% endblock %}

