{% extends '_layoutAdmin.html.twig' %}

{% block title %}
    Loire&Orléans | Administrateur | Gestion de profils | {{ user.firstname ~ ' ' ~ user.lastname }}
{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('adminProfil') }}
    {% endblock %}

{% block body %}
    <section>
        <div class="d-flex flex-column col-12 p-0 align-items-center">
            <div class="col-lg-6 mt-4 d-flex justify-content-center">
                <div class="confirmation col-12 p-0">
                    <p class="d-flex justify-content-center align-items-center mb-3 mt-3">Utilisateur en attente de confirmation
                        {{ include('admin_profile/_form.html.twig') }}
                    </p>
                </div>
                </div>
                <div class="d-flex align-items-lg-end align-items-center flex-column flex-lg-row mt-5">
                    <div class="col-lg-4 col-md-8 p-0">
                        <figure class="img_ambassador m-0">
                            <img src="{% if user.picture is empty %}{{ asset('build/img_profil_trombinoscope.png') }}{% else %}{{ vich_uploader_asset(user, 'pictureFile', 'App\\Entity\\User') }}{% endif %}"
                                 class="card-img col-lg-12" alt="Photo Ambassadeur">
                        </figure>
                    </div>
                    <div class="col-sm-8 align-items-center mt-5">
                        <h1 class="card-title">{{ user.firstname }} {{ user.lastname }}</h1>
                        <div class="card-body m-0">
                            <p><i class="fas fa-at"></i>
                                <u>{{ user.email }}</u>
                            </p>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                {{ user.phonenumber }}
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-angle-double-left"></i>
                                {{ user.description }}
                                <i class="fas fa-angle-double-right"></i>
                            </p>
                        </div>
                        <div class="card-body mt-3">
                            <h2 class="card-title">
                                <i class="fas fa-building"></i>
                                {{ user.company }}
                            </h2>
                            <p class="mb-0">
                                <i class="fas fa-map-marker-alt"></i>
                                {{ user.street }}
                            </p>
                            <p>
                                <span class="ml-3">{{ user.postalCode }} {{ user.city }}</span>
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-industry"></i>
                                {{ user.activity }}
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-map-marked-alt"></i>
                                {{ user.employmentArea }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 d-flex justify-content-center mt-3">
                    <a class="btn btn-primary col-md-2 m-3" href="{{ path('admin_profile_index') }}">Retour</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/38fc56fe7a.js" crossorigin="anonymous"></script>
{% endblock %}
