{% extends '_layout.html.twig' %}

{% block title %}Loire&Orléans | Mes échanges | Ajouter un commentaire{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('addComment') }}
 {% endblock %}
{% block body %}

    <h1 class="text-center my-5">Ajouter un commentaire</h1>
    <div class="container">
        {{ form_start(messageForm, {'attr': {'class': 'col-12 d-flex flex-column align-items-center p-0'}}) }}
        <div class="col-10 col-md-8 d-flex flex-column text-center">
            <div class="d-flex flex-column">
                <div class="comment mt-4 mb-4">
                        <div class="form-group d-flex flex-column my-1 text-left  font-weight">
                            {{ form_label(messageForm.message) }}
                            {{ form_widget(messageForm.message, {'attr': {'rows':'6'}}) }}
                        </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary m-2 col-md-4 align-self-center">Soumettre</button>
                {{ form_end(messageForm) }}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary my-4 " href="{{ path('document_index') }}">Retour aux documents</a>
    </div>
{% endblock %}
