<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand d-none d-md-block" href="/"><img class="mr-3 rounded" src="{{ asset('build/logo4.png') }}" width="104"
                                                            height="55" alt="Logo ambassadeur"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-3" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-4">
                <a class="nav-link " href="{{ path('home') }}">
                    <i class="fas fa-home"></i>
                    Accueil
                </a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link " href="{{ path('user_index') }}">
                    <i class="far fa-address-book"></i>
                    Trombinoscope
                </a>
            </li>
            {% if app.user is empty %}
            <li class="nav-item mx-4">
                <a class="nav-link" href="{{ path('app_register') }}">
                    <i class="far fa-user-circle"></i>
                    Créer un compte
                </a>
            </li>
            {% endif %}
            {% if app.user and app.user.roles.0 is same as('ROLE_USER') %}
            <li class="nav-item mx-4">
                <a class="nav-link " href="{{ path('user_show', {'login': app.user.login}) }}">
                    <i class="far fa-address-book"></i>
                    Mon profil
                </a>
            </li>
            {% endif %}
            {% if app.user and app.user.roles.0 is same as('ROLE_AMBASSADEUR') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <i class="fas fa-user-tie"></i>
                    Ambassadeur
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('user_show', {login: app.user.login}) }}">
                        <i class="far fa-user"></i>
                        Mon profil
                    </a>
                    <a class="dropdown-item" href="{{ path('message_index') }}">
                        <i class="far fa-envelope"></i>
                        Mes échanges
                    </a>
                    <a class="dropdown-item" href="{{ path('document_index') }}">
                        <i class="fas fa-file-download"></i>
                        Documents à télécharger
                    </a>
                </div>
            </li>
            {% endif %}
            {% if app.user and app.user.roles.0 is same as('ROLE_ADMINISTRATEUR') %}
                <li class="nav-item dropdown bg-primary">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                        <i class="fas fa-user-cog"></i>
                        Administrateur
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('document_index') }}">
                            <i class="far fa-file-word"></i>
                            Gestion des documents
                        </a>
                        <a class="dropdown-item" href="{{ path('admin_conversation_index') }}">
                            <i class="far fa-envelope"></i>
                            Mes échanges
                        </a>
                        <a class="dropdown-item" href="{{ path('admin_profile_index') }}">
                            <i class="fas fa-tasks"></i>
                            Profils Ambassadeur
                        </a>
                        <a class="dropdown-item" href="{{ path('user_show', {login: app.user.login}) }}">
                            <i class="far fa-user"></i>
                            Mon profil
                        </a>
                    </div>
                </li>
            {% endif %}
            <li class="nav-item mx-4">
                {% if app.user %}
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        <i class="fas fa-unlock-alt"></i>
                        Se déconnecter
                    </a>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">
                        <i class="fas fa-lock"></i>
                        Connexion
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
