{% extends '_layout.html.twig' %}
{% block title %}Loire&Orléans | Documents à télécharger{% endblock %}
{% block body %}
    <section class="d-flex align-items-center mb-5">
        <div class="w-100">
            {% if app.user and app.user.roles.0 is same as('ROLE_ADMINISTRATEUR') %}
                <h1 class="text-center my-4">Gestion des documents</h1>
            {% endif %}
            {% if app.user and app.user.roles.0 is same as('ROLE_AMBASSADEUR') %}
                <h1 class="text-center my-4">Documents à télécharger</h1>
            {% endif %}
            {% if app.user and app.user.roles.0 is same as('ROLE_ADMINISTRATEUR') %}
                <div class="d-flex align-items-center my-4 flex-column">
                    <a class="btn btn-lg btn-primary mt-3" href="{{ path('document_new') }}">Ajouter un document</a>
                </div>
            {% endif %}
            <div class="form-group my-5">
                <div class="d-flex justify-content-center my-4">
                        <span class="infobulle"
                              aria-label="Veuillez saisir un titre de document">
                            {{ form_start(form, {'attr': {'class': 'form-inline my-2 my-lg-0 justify-content-center'}}) }}
                            {{ form_widget(form.search, {'attr': {'class': 'form-control mr-sm-2 col-md-7', 'placeholder': "Nom du document"}}) }}
                            <button class="btn btn-primary my-2 my-sm-0 mt-4" type="submit">Rechercher</button>
                        {{ form_end(form) }}
                        </span>
                </div>
            </div>
            <div class="row m-0 justify-content-center">
                {% for document in documents %}
                    <div class="blur my-4 mx-5 col-md-4 col-10 p-0 col-lg-2 d-flex flex-column align-items-start">
                        <div class="w-100 p-0 pt-2 text-center mb-auto">
                            <img class="w-50" src="{{ asset('build/logo_' ~ document.ext ~ '.png' ) }}" alt="logo_{{ document.ext }}">
                        </div>
                        <div class="pt-2 p-0">
                            <div class="p-1">
                                <h6 class="card-title">Nom : {{ document.name }}</h6>
                                <p class="card-title">Date d'ajout du document
                                    : {{ document.updatedAt ? document.updatedAt|date('d-m-Y H:i') : '' }}</p>
                            </div>
                            <div class="d-flex flex-column bg-primary">
                                {% if app.user and app.user.roles.0 is same as ('ROLE_ADMINISTRATEUR') %}
                                <a href="{{ path('document_edit', {'id':document.id}) }}"
                                   class="btn mb-1 btn-info rounded-0">Modifier</a>
                                {% endif %}
                                <a href="{{ vich_uploader_asset(document, 'documentFile', 'App\\Entity\\Document') }}"
                                   class="btn btn-info rounded-0">Télécharger</a>
                                {% if app.user.roles[0] is same as ('ROLE_AMBASSADEUR') %}
                                    <a href="{{ path('document_show', {'id':document.id}) }}" class="btn btn-info mt-1 rounded-0">Envoyer
                                        un message</a>
                                {% endif %}
                                {% if app.user and app.user.roles.0 is same as('ROLE_ADMINISTRATEUR') %}
                                    <a href="{{ path('document_show', {'id':document.id}) }}" class="btn btn-info mt-1 rounded-0">
                                        Mes nouveaux messages</a>
                                {% endif %}
                                {% if app.user and app.user.roles.0 is same as('ROLE_ADMINISTRATEUR') %}
                                    {{ include('document/_delete_form.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    'Aucun document trouvé'
                {% endfor %}
                <div class="d-flex justify-content-center w-100 my-5">
                    {{ knp_pagination_render(documents) }}
                </div>
            </div>
            {% if app.user and app.user.roles.0 is same as('ROLE_ADMINISTRATEUR') %}
                <div class="d-flex align-items-center my-4 flex-column">
                    <a class="btn btn-lg btn-primary mt-3" href="{{ path('admin_index') }}">Retour gestion</a>
                </div>
            {% else %}
                <div class="d-flex align-items-center my-4 flex-column">
                    <a class="btn btn-lg btn-primary mt-3" href="{{ path('home') }}">Retour à l'accueil</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
