{% extends '_layout.html.twig' %}

{% block title %}Document{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('document') }}
{% endblock %}

{% block body %}

    <section class="d-flex align-items-center mb-5">
        <div class="form w-100 d-flex justify-content-center flex-column align-items-center">

            <h1 class="text-center my-4">{{ document.name }}</h1>

            <div class="mt-4 d-flex col-6 flex-column p-0 align-items-center">
                <img class="w-25 h-25" src="{{ asset('build/logo_' ~ document.ext ~ '.png' ) }}"
                     alt="logo_{{ document.ext }}">
                <div class="text-center mt-4">
                    {{ document.name }} |
                    Ajouté le : {{ document.updatedAt ? document.updatedAt|date('d-m-Y') : '' }}
                </div>
            </div>
            {% if app.user.roles[0] is same as ('ROLE_AMBASSADEUR') %}
                <div class="d-flex align-items-center p-0 col-12 flex-column my-4">
                    <div class="text-left col-md-8 p-0">
                        <h3 class="my-4">Commentaire(s) : </h3>
                    </div>
                    {% if conversation is not empty %}
                        <div class="col-md-8 p-4 border rounded bg-info">
                            {% for message in conversation.messages %}
                                {% if message.user.roles[0] is same as('ROLE_ADMINISTRATEUR') %}
                                    <div class="col-12">
                                        <div class="col-11 d-flex col-md-8 text-wrap p-1 my-3 bg-primary mr-auto">
                                            <p class="p-3 m-0 bg-light overflow-auto text-wrap">{{ message.message|nl2br }}</p>
                                                <p class=" p-1 m-0 bg-primary text-right text-light m-0">{{ message.user.firstname ~ ' ' ~ message.user.lastname ~ ' Le ' ~ message.date|date("d/m/Y à H:i") }}</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-12">
                                        <div class="col-11 d-flex col-md-8 bg-primary text-wrap p-1 my-3 ml-auto">
                                            <p class="p-3 m-0 bg-light overflow-auto text-wrap">{{ message.message|nl2br }}</p>
                                            <div class="align-items-center pt-1 m-0 bg-primary d-flex justify-content-between">
                                                {{ include('message/_delete_form.html.twig') }}
                                                <p class="text-light text-right m-0">{{ 'Vous  le ' ~ message.date|date("d/m/Y à H:i") }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {{ include('message/_deleteConversation_form.html.twig') }}
                        </div>
                    {% endif %}
                </div>
                <div class="container col-md-8 p-0 col-11 ">
                    {{ form_start(messageForm, {'attr': {'class': 'col-12 d-flex flex-column align-items-center p-0'}}) }}
                    <div class="col-12 d-flex flex-column text-center m-0 bg-info">
                        <div class="d-flex flex-column">
                            <div class="comment my-3">
                                <div class="form-group d-flex flex-column text-left  font-weight">
                                    {{ form_label(messageForm.message) }}
                                    {{ form_widget(messageForm.message, {'attr': {'rows':'6'}}) }}
                                </div>
                            </div>
                            {% if conversation %}
                            <button type="submit" class="btn btn-lg btn-primary my-4 col-md-4 align-self-center">
                                Répondre
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-lg btn-primary my-4 col-md-4 align-self-center">
                                Envoyer
                            </button>
                            {%  endif %}
                            {{ form_end(messageForm) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.user.roles[0] is same as ('ROLE_ADMINISTRATEUR') %}
            <div class="d-flex justify-content-center flex-column my-4">
                <h3 class="my-4 text-center">Nouveaux messages</h3>
                <table class="table table-hover col-10 p-0 mx-auto">
                    <thead class="bg-primary">
                    <tr class="text-center text-light">
                        <th scope="col">Date</th>
                        <th scope="col">Document</th>
                        <th scope="col">Nom-Prénom-Entreprise</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for conversation in conversations %}
                        {% if conversation.messages|last.user.roles[0] is same as('ROLE_AMBASSADEUR') %}
                            <tr class="text-center">
                                <td>{{ conversation.messages|last.date|date("d/m/Y à H:i") }}</td>
                                <td>{{ conversation.document.name }}</td>
                                {% for user in conversation.users  %}
                                    {% if user.roles[0] is same as('ROLE_AMBASSADEUR') %}
                                        <td>{{ user.firstname ~ ' ' ~ user.lastName ~ ' / ' ~ user.company}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td><a class="btn btn-info" href="{{ path('admin_conversation_show', {'id': conversation.id}) }}">Consulter</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="d-flex flex-md-row flex-column col-10 col-md-4 p-0 justify-content-center align-items-center">
                <a class="btn btn-lg btn-primary m-3 col-md-6" href="{{ path('document_index') }}">Retour</a>
            </div>
        </div>
    </section>
{% endblock %}
